# Environnement
.env
venv/
__pycache__/
*.pyc

# Données volumineuses (à adapter selon ta politique de versionnement)
data/raw/
data/processed/
qdrant_storage/

# Notebooks checkpoints
.ipynb_checkpoints/

# Résultats
evaluation/results/*
